<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form  method="post">
        <div class="my-2"><input  type="text" name="nameWorker" class="form-control" placeholder="Model" aria-label="Model" aria-describedby="button-addon2"/></div>
        <div class="my-2"><input type="text" name="pesel" class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="button-addon2"></div>
        <button class="btn btn-primary" type="submit">add</button>
    </form>

</body>
</html>