<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/workers/'}">workers<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/toners/'}">toners<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/orders/'}">orders<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="w-25 my-2 px-5 py-3">
        <form  method="post">

            <div class="my-1"><input required  type="text" name="date" class="form-control" placeholder="Data..." aria-describedby="button-addon2"/></div>

            <select name="workerID" class="custom-select my-1" required>
                <option selected>Pracownik...</option>
                <option th:each="worker : ${workerList}"
                        th:value="${worker.workerID}"
                        th:utext="${worker.workerName}">
                </option>
            </select>

            <select name="tonerID" class="custom-select my-1" required>
                <option selected>Toner...</option>
                <option th:each="toner : ${tonerList}"
                        th:value="${toner.tonerID}"
                        th:utext="${toner.tonerName}">
                </option>
            </select>
            <button class="btn btn-primary my-1" type="submit">Dodaj order</button>
        </form>
    </div>

    <div class="px-5 py-3">
        <table class="table table-striped">
            <tr>
                <th scope="col">orderID</th>
                <th scope="col">workerName</th>
                <th scope="col">tonerName</th>
                <th scope="col">date</th>
            </tr>
            <tr scope="col" th:each ="orders : ${orderList}">
                <td th:utext="${orders.orderID}">...</td>
                <td th:utext="${orders.workerName}">...</td>
                <td th:utext="${orders.tonerName}">...</td>
                <td th:utext="${orders.date}">...</td>
            </tr>
        </table>
    </div>

</body>
</html>