<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
    <form  method="post">
        <div class="my-2"><input required  type="text" name="date" class="form-control" placeholder="Date" aria-describedby="button-addon2"/></div>
        <br>
        <select name="workerID">
            <option value=""> -- </option>
            <option th:each="worker : ${workerList}"
                    th:value="${worker.workerID}"
                    th:utext="${worker.workerName}">
            </option>
        </select>
        <select name="tonerID">
            <option value=""> -- </option>
            <option th:each="toner : ${tonerList}"
                    th:value="${toner.tonerID}"
                    th:utext="${toner.tonerName}">
            </option>
        </select>
        <button class="btn btn-primary" type="submit">Dodaj order</button>
    </form>

<div>
    <table class="table table-striped">
        <tr>
            <th scope="col">orderID</th>
            <th scope="col">workerName</th>
            <th scope="col">tonerName</th>
            <th scope="col">date</th>
        </tr>
        <tr scope="col" th:each ="orders : ${orderList}">
            <td th:utext="${orders.orderID}">...</td>
            <td th:utext="${orders.workerName}">...</td>
            <td th:utext="${orders.tonerName}">...</td>
            <td th:utext="${orders.date}">...</td>
        </tr>
    </table>

</div>

</body>
</html>