<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}">strona główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/workers/'}">pracownicy<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/toners/'}">tonery<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/orders/'}">zlecenia<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}">Strona główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/workers/'}">Pracownicy<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/toners/'}">Tonery<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/orders/'}">Zlecenia<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

    <div class="w-60">
        <div class="px-5 py-3">
            <h4>
                Pracownik:
                <small class="text-muted" th:text="${workerName}"></small>
            </h4>
            <p class="font-weight-light" th:text="${tonersQuantity != null} ? ${tonersQuantity} + ' ilość'"></p>
            <p class="font-weight-light" th:text="${sumPoints != null} ? ${sumPoints} + ' punktów'"></p>
            <p class="font-weight-light my-0" th:text="${sumSalary != null} ? ${sumSalary} + ' zł'"></p>
        </div>
        <div class="px-5 py-15">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Wynik pracownika</button>
        </div>
    </div>

    <div class="px-5 py-3">
        <table class="table table-striped">
            <tr>
                <th scope="col">orderID</th>
                <th scope="col">workerName</th>
                <th scope="col">tonerName</th>
                <th scope="col">date</th>
            </tr>
            <tr scope="col" th:each ="orders : ${ordersListProgress}">
                <td th:utext="${orders.orderID}">...</td>
                <td th:utext="${orders.workerName}">...</td>
                <td th:utext="${orders.tonerName}">...</td>
                <td th:utext="${#dates.format(orders.date, 'dd-MMM-yyyy')}">...</td>
            </tr>
        </table>
    </div>

</body>
</html>