<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/img/css.css}" />

    <title>Title</title>
</head>
<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}">strona główna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/workers/'}">pracownicy<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/toners/'}">tonery<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/orders/'}">zlecenia<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="w-25 my-2 px-5 py-3">
    <form method="post" th:action="@{/updateToner/{id}(id=${toner.tonerID})}">
        <div class="my-2"><input th:value="${toner.tonerName}" required  type="text" name="tonerName" class="form-control" placeholder="Model tonera" aria-describedby="button-addon2"/></div>
        <div class="my-2"><input th:value="${toner.points}" required type="text" name="points" class="form-control" placeholder="Liczba punktów" aria-describedby="button-addon2"></div>
        <button  class="btn btn-primary" type="submit">Ok</button>
    </form>
</div>

</body>
</html>