<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body class="px-5 py-3">

    <div class="w-25 my-2">
        <form  method="post">
            <div class="my-2"><input required type="text" name="workerName" class="form-control" placeholder="Imię" aria-describedby="button-addon2"/></div>
            <div class="my-2"><input required type="text" name="pesel" class="form-control" placeholder="PESEL" aria-describedby="button-addon2"></div>
            <button  class="btn btn-primary" type="submit">Dodaj pracownika</button>
        </form>
    </div>

    <div>
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">PESEL</th>
                <th scope="col">---</th>
            </tr>
            <tr scope="col" th:each ="worker : ${workerList}">
                <td th:utext="${worker.workerID}">...</td>
                <td th:utext="${worker.workerName}">...</td>
                <td th:utext="${worker.pesel}">...</td>
                <td><a th:href="@{'/deleteWorker/' + ${worker.workerID}}">Usuń</a></td>
            </tr>
        </table>
    </div>

</body>
</html>