<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
    <a th:href="@{/addWorker}">add Worker</a>

    <div>
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">pesel</th>
            </tr>
            <tr scope="col" th:each ="worker : ${workerList}">
                <td th:utext="${worker.workerID}">...</td>
                <td th:utext="${worker.nameWorker}">...</td>
                <td th:utext="${worker.pesel}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>